---
import logoBlanco from "@assets/cies-logo-blanco.png";
---

<footer id="cies-footer">
  <div class="container-fluid">
    <div class="row align-items-start cies-footer-1">
      <!-- Columna: Menú -->
      <div class="col-12 col-md-3 col-xl-3 offset-xxl-1 col-xxl-3 my-4">
        <h6 class="mb-3 text-uppercase">Menú</h6>
        <nav class="nav cies-nav-footer flex-column" aria-label="Navegación principal del sitio">
          <a class="nav-link" href="/">Inicio</a>
          <a class="nav-link" href="/historia">Historia</a>
          <a class="nav-link" href="/formacion/dominicales-psicoanalisis">Cursos dominicales psicoanálisis</a>
          <a class="nav-link" href="/formacion/dominicales-psicomotricidad">Cursos dominicales psicomotricidad</a>
          <a class="nav-link" href="/contacto">Contacto</a>
          <a class="nav-link" href="/proceso-admision">Inicia tu proceso de admisión</a>
          <a class="nav-link" href="/cacies">Cita CACiES</a>
        </nav>
      </div>

      <!-- Columna: Oferta educativa -->
      <div class="col-12 col-md-5 col-xl-6 col-xxl-4 my-4">
        <h6 class="mb-3 text-uppercase">Nuestra oferta educativa</h6>
        <nav class="nav cies-nav-footer flex-column" aria-label="Oferta educativa">
          <a class="nav-link" href="#">Licenciatura en Psicología</a>
          <a class="nav-link" href="#">Maestría en Psicomotricidad</a>
          <a class="nav-link" href="#">Maestría en Psicoterapia Psicoanalítica</a>
          <a class="nav-link" href="#">Doctorado en Investigación Psicoanalítica</a>
          <a class="nav-link" href="#">Doctorado en Ciencias del Desarrollo Humano</a>
        </nav>
      </div>

      <!-- Columna: Datos de contacto -->
      <div class="col-6 col-md-4 col-xl-3 col-xxl-3 my-4 cies-footer-contact">
        <a href="/" title="Ir al inicio">
          <img src={logoBlanco.src} alt="Logo CIES" class="mb-4" id="cies-footer-logo" height="50" width="200" />
        </a>
        <p class="mb-2">
          Rómulo O'Farril 351<br />
          Col. Olivar de los Padre<br />
          C.P. 01780, Ciudad de México<br />
        </p>
        <p class="mb-0">
          <i class="bi bi-telephone me-2"></i>
          Tel:
          <a href="tel:+525556814287" target="_blank">55 5681 4287</a><br />
          <i class="bi bi-whatsapp me-2"></i>
          WhatsApp:
          <a href="https://wa.me/5551014882?text=Hola%20quiero%20más%20información" target="_blank">55 5101 4882</a><br />
        </p>
      </div>

      <div class="col-4 text-center d-none d-xl-block"></div>
    </div>

    <!-- Franja inferior -->
    <!-- Franja inferior -->
    <div class="row cies-footer-2">
      <div class="col-12 text-center">
        <!-- <hr class="mt-4 mb-3 cies-footer-divider" /> -->

        <div class="w-100 d-md-flex justify-content-between align-items-center cies-footer-bottom py-3 px-2">
          <!-- Redes sociales -->
          <div>
            <ul class="cies-redes-sociales mb-3 mb-md-0">
              <li>
                <a href="https://es-la.facebook.com/CiESmex/" title="Ir a Facebook"><i class="bi bi-facebook icon"></i></a>
              </li>
              <li>
                <a href="https://www.instagram.com/cies_mex/" title="Ir a Instagram">
                  <i class="bi bi-instagram icon"></i>
                </a>
              </li>
              <li>
                <a href="https://x.com/ciesmex" title="Ir a X"><i class="bi bi-twitter-x icon"></i></a>
              </li>

              <li>
                <a href="https://www.youtube.com/channel/UC_ummhv7gTerISsONhixfoA" title="Ir al canal de Youtube">
                  <i class="bi bi-youtube icon"></i>
                </a>
              </li>
            </ul>
          </div>

          <!-- Copyright + Powered -->
          <div class="d-flex flex-column mb-3 mb-md-0 text-center text-md-center">
            <span class="small fw-semibold">Copyright © <span id="cies-footer-year"></span> CIES</span>
            <a href="https://gaallabs.com" target="_blank" class="powered-by small" title="Visitar GaalLabs"> Powered by GaalLabs </a>
          </div>

          <!-- Aviso -->
          <div>
            <a href="/aviso-de-privacidad" class="cies-footer-link" title="Leer Aviso de Privacidad"> Aviso de privacidad </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  const spanYear = document.querySelector("#cies-footer-year");
  if (spanYear) {
    spanYear.textContent = String(new Date().getFullYear());
  }
</script>

<style>
  #cies-footer {
    color: #fff;
    /* padding: 48px 30px 20px 30px; */
    /* background-color: var(--cies-green-secondary); */
    font-size: 0.95rem;
  }

  #cies-footer .cies-footer-1 {
    padding: 20px 10px;
    /* padding: 48px 30px 20px 30px; */
    background-color: var(--cies-green-secondary);
  }

  #cies-footer .cies-footer-2 {
    /* padding: 0 10px 20px 10px; */
    background-color: #003d26;
  }

  #cies-footer h6 {
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 0.9rem;
  }

  #cies-footer #cies-footer-logo {
    max-width: 190px;
    height: auto;
  }

  #cies-footer .cies-footer-contact p {
    line-height: 1.5;
  }

  #cies-footer .cies-nav-footer {
    line-height: 1.4;
  }

  #cies-footer .cies-nav-footer > .nav-link {
    color: #f2f0f0;
    padding: 0.3rem 0;
    text-decoration: none;
    font-size: 0.95rem;
  }

  #cies-footer .cies-nav-footer > .nav-link:hover {
    color: var(--cies-yellow-primary);
  }

  #cies-footer a {
    color: #ffffff;
    text-decoration: none;
  }

  #cies-footer a:hover {
    color: var(--cies-yellow-primary);
    text-decoration: underline;
  }

  .cies-footer-divider {
    border-color: rgba(255, 255, 255, 0.2);
  }

  .cies-footer-link {
    font-size: 0.9rem;
    font-weight: 500;
  }

  /* Franja final con tono más oscuro */
  .cies-footer-bottom {
    background-color: #003d26; /* Tono institucional más oscuro */
    border-radius: 4px;
  }

  /* Separador */
  .cies-footer-divider {
    border-color: rgba(255, 255, 255, 0.25);
  }

  /* Powered by */
  .powered-by {
    color: #ffffffcc; /* Blanco suave */
    text-decoration: none;
    margin-top: 2px;
  }

  .powered-by:hover {
    color: var(--cies-yellow-primary);
    text-decoration: underline;
  }

  /* ----------------------------- */
  /*  BLOQUE DE REDES SOCIALES    */
  /* ----------------------------- */

  ul.cies-redes-sociales {
    display: flex;
    justify-content: center;
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
  }

  ul.cies-redes-sociales li {
    list-style: none;
  }

  ul.cies-redes-sociales li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
    /* fix */
    perspective: 400px;
    transform-style: preserve-3d;
  }

  ul.cies-redes-sociales li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
    /* fix */
    display: inline-block;
    backface-visibility: hidden;
  }

  ul.cies-redes-sociales li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }

  ul.cies-redes-sociales li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
  }

  ul.cies-redes-sociales li a:hover:before {
    top: 0;
  }

  ul.cies-redes-sociales li:nth-child(1) a:before {
    background: #3b5999;
  }

  ul.cies-redes-sociales li:nth-child(2) a:before {
    background: #e1306c;
  }

  ul.cies-redes-sociales li:nth-child(3) a:before {
    background: #000;
  }

  ul.cies-redes-sociales li:nth-child(4) a:before {
    background: #dd4b39;
  }
</style>
