<li class="nav-item">
  <a class="nav-link" href="/">Inicio</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="dwnCies" role="button" data-bs-toggle="dropdown" aria-expanded="false">CiES</a>
  <ul class="dropdown-menu border-0" aria-labelledby="dwnCies">
    <li><a class="dropdown-item" href="/onu-cies">ONU - CiES</a></li>
    <li><a class="dropdown-item" href="/historia">Historia</a></li>
    <li><a class="dropdown-item" href="/convenios">Convenios</a></li>
    <li><a class="dropdown-item" href="/docentes">Docentes</a></li>
    <li><a class="dropdown-item" href="/cacies">CACiES</a></li>
    <li><a class="dropdown-item" href="/centro-de-investigacion">Centro de Investigación</a></li>
    <li><a class="dropdown-item" href="https://cies.online/blog/">Blog</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="dwnProgramas" role="button" data-bs-toggle="dropdown" aria-expanded="false">Programas Académicos</a>
  <ul class="dropdown-menu border-0" aria-labelledby="dwnProgramas">
    <li><h6 class="dropdown-header">Licenciatura</h6></li>
    <li><a class="dropdown-item" href="/programas/licenciatura/psicologia">Psicología</a></li>
    <li><a class="dropdown-item" href="/programas/mamas-profesionistas">Psicología - Mamás Profesionistas</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><h6 class="dropdown-header">Maestría</h6></li>
    <li><a class="dropdown-item" href="/programas/maestria/psicomotricidad">Psicomotricidad</a></li>
    <li><a class="dropdown-item" href="/programas/maestria/psicoterapia-psicoanalitica">Psicoterapia Psicoanalítica</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><h6 class="dropdown-header">Doctorado</h6></li>
    <li><a class="dropdown-item" href="/programas/doctorado/investigacion-psicoanalitica">Investigación Psicoanalítica</a></li>
    <li><a class="dropdown-item" href="/programas/doctorado/ciencias-del-desarrollo-humano">Ciencias del Desarrollo Humano</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="dwnCursos" role="button" data-bs-toggle="dropdown" aria-expanded="false">Formación Continua</a>
  <ul class="dropdown-menu border-0" aria-labelledby="dwnCursos">
    <li><h6 class="dropdown-header">Cursos</h6></li>
    <li><a class="dropdown-item" href="/formacion/dominicales-psicoanalisis">Dominicales de psicoanálisis</a></li>
    <li><a class="dropdown-item" href="/formacion/dominicales-psicomotricidad">Dominicales de psicomotricidad</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li><h6 class="dropdown-header">Diplomados</h6></li>
    <li><a class="dropdown-item" href="/winnicott">Práctica de Winnicott</a></li>
    <!-- <li><a class="dropdown-item" href="/programas/maestria/psicoterapia-psicoanalitica"><i class="bi bi-book me-2"></i>Maestría en Psicoterapia Psicoanalítica</a></li> -->
    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="/formacion/encuentros-congresos">Encuentros y Congresos</a></li>
    <!-- <li><a class="dropdown-item" href="/programas/doctorado/ciencias-del-desarrollo-humano"><i class="bi bi-book me-2"></i>Doctorado en Ciencias del Desarrollo Humano</a></li> -->
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="dwnRevistasdigitales" role="button" data-bs-toggle="dropdown" aria-expanded="false">Revistas Digitales</a>
  <ul class="dropdown-menu border-0" aria-labelledby="dwnRevistasdigitales">
    <li><a class="dropdown-item" href="http://cies-revistas.mx/index.php/Psicoanalisis">Letra en Psicoanálisis </a></li>
    <li><a class="dropdown-item" href="http://cies-revistas.mx/index.php/Psicomotricidad">Psicomotricidad Movimiento y Emoción</a></li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="/proceso-admision">Inicia tu proceso de admisión</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/">Contacto</a>
</li>
