---
import { ViewTransitions } from 'astro:transitions';
import CiesNavbar from '@components/Navbar.astro';
import CiesFooter from '@components/Footer.astro';

import 'bootstrap/dist/css/bootstrap.min.css';
import 'bootstrap-icons/font/bootstrap-icons.css';
import '@styles/site.css';

interface Props {
  title: string;
  optionalProp?: any;
}
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <CiesNavbar />

    <div class="container-fluid flex-grow-1">
      <main role="main" class="pb-3">
        <slot />
      </main>
    </div>

    <CiesFooter />
    <script src="/vendor/bootstrap.bundle.min.js" defer></script>
  </body>
</html>
